.welcome{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/public/img/sfondo.jpg'); 
                background-size: cover; 
                background-position: center; 
                min-height: 100vh;
}

.card-login{
min-height: 100vh;
}

.height-custom {
    min-height: 50vh;
}

.card-w {
    width: 18rem; 
}

.custom-bg {
    background: rgba(0, 0, 0, 0.4); 
    min-height: 40vh; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.img-preview {
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
    width: 120px; 
    height: 120px; 
    
}